
    .subscribe-button {
      background-color: rgb(200, 0, 0);
      color: white;
      border: none;
      padding-top:10px;
      padding-bottom:10px;
      padding-left:16px;
      padding-right:16px;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      margin-left: 20px;
      transition: opacity 0.15s;
      vertical-align:top;
    }
    .subscribe-button:hover{
      opacity: 0.7;
    }
    .subscribe-button:active{
      opacity: 0.5;
      
    }
  
    .join-button{
      background-color: white;
      border-color: rgb(41, 118, 211);
      border-style: solid;
      border-width: 1px;
      color: rgb(41, 118, 211);
      padding-top:9px;
      padding-bottom:9px;
      padding-left:16px;
      padding-right:16px;
      
      border-radius: 2px;
      cursor: pointer;
      transition: background-color 0.15s,
        color 0.15s;
      
    }
    .join-button:hover{
      background-color: rgb(41, 118, 211);
      color: white;
    }
    .join-button:active{
      opacity: 0.7;
    }
  
    .tweet-button{
      background-color: rgb(2, 137, 255);
      color: white;
      border: none;
      height: 36px;
      width: 74px;
      border-radius: 18px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      margin-left: 8px;
      margin-right: 8px;
      transition: box-shadow 0.15s;
      vertical-align:top;
      
  
    }
    .tweet-button:hover{
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
    .requestnow-button{
      background-color: black;
      color: white;
      border: none;
      height: 36px;
      width: 100px;
      cursor: pointer;
  
    }
    .addtocart-button{
      background-color: rgba(202, 202, 62, 0.979);
      border: none;
      height: 36px;
      width: 200px;
      border-radius: 18px;
      font-size: 20px;
      cursor: pointer;
    }
  
  
  
    .stretch-button {
      background-color: green;
      color: white;
      border: none;
      font-size: 18px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 15px;
      padding-right: 15px;
      cursor: pointer;
      transition: padding-top 1s,
        padding-bottom 1s,
        padding-left 1s,
        padding-right 1s;
    }
  
    .stretch-button:hover {
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 36px;
      padding-right: 36px;
    }
