p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title{
  
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats{
  
  font-size:  14px;
  color: rgb(96, 96, 96);
  
  margin-bottom: 20px;
}

.video-author{
  
  font-size:  14px;
  color: rgb(96, 96, 96);
 
  margin-bottom: 20px;
}

.video-description{
  
  font-size:  14px;
  color: rgb(96, 96, 96);
  margin-bottom: 100px;
  width: 280px;
  line-height: 22px;
}

.apple-text{
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(277, 65, 64);
  color: white;
  text-align:  center;
  padding: 20px;
}

.shop-link{
  cursor: pointer;

}
.shop-link:hover{
  text-decoration: underline;
}
.tahoma{
  font-family: Tahoma;
  font-size: 30px;
  margin-bottom: 12px;
}
.arial{
  font-family: Arial;
  font-size: 30px;
  
}
.arial-red{
  color: red;
  line-height: 30px;
  font-weight: 100px;
}