 .header{
   height: 55px;
   display:flex;
   flex-direction: row;

 }

 .left-section{
   background-color: lightblue;
   width: 150px;
  
 }

 .middle-section{
  background-color: lightpink;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 300px;
}

.right-section{
  background-color: lightblue;
  width: 200px;
}