
.thumbnail{
  
  width: 100%
}

.video-title{
  margin-top:0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 12px;
}


.profile-picture{
  width: 100%;
  border-radius: 40px;
}
.thumbnail-row{
  margin-bottom: 12px;
}
.video-author,
.video-stats{
  font-size: 12px;
  color:rgb(96, 96, 96);
}

.video-author{
  margin-bottom: 4px;
}
.video-info-grid{
  display:grid;
  grid-template-columns: 50px 1fr;
}

.video-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}